p{
    font-size: 25px;
    color: red;
}
body{
    /* 默认情况下 webpack 无法处理css文件中的url地址 不管是图片还是字体库 只要是url地址 都处理不了 */
    background: url('../images/a.jpg')no-repeat;
    /* 处理图片路径的loader */
}
.box{
    /* 默认情况下 webpack 无法处理css文件中的url地址 不管是图片还是字体库 只要是url地址 都处理不了 */
    width: 500px;
    height: 500px;
    background: url('../images/a.jpg')no-repeat;
    /* 处理图片路径的loader */
}
.box1{
    /* 默认情况下 webpack 无法处理css文件中的url地址 不管是图片还是字体库 只要是url地址 都处理不了 */
    width: 500px;
    height: 500px;
    background: url('../images2/a.jpg')no-repeat;
    /* 处理图片路径的loader */
}